@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap') format('woff');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.header-container,
.header,
.row,
.col,
.list,
.info-container,
.contact-container,
.col-container,
.header-wrapper,
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

body {
    background-color: whitesmoke;
}

.row {
    background-color: rgba(156, 239, 255, 0.204);
    padding: 1rem;
}

.header-container,
.contact-container,
.footer {
    background-color: whitesmoke;
}

.header-name {
    padding: 2rem 2rem .5rem 2rem;
    color: rgb(156, 239, 255);
    text-shadow: 1px 2px 3px rgb(0, 0, 0);

}

.footer-name {
    color: rgb(156, 239, 255);
    text-shadow: 1px 2px 3px rgb(0, 0, 0)
}

.list {
    margin: 1rem auto;
}

.list-item {
    display: block;
    width: 90vw;
    padding: 1rem 1rem;
    margin: .25rem auto;
    background-color: white;
    text-align: center;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: rgb(129, 129, 129);
}

.main-header {
    padding: 3rem;
}

.header {
    text-align: center;
}

.header img {
    width: 65%;
    margin: 2rem;
    max-width: 600px;
}

.intro {
    padding: 0 2rem 4rem 2rem;
}

.text {
    text-align: center;
    padding: .75rem 1rem 2rem 1rem;
}

.title {
    text-align: center;
    padding: 2rem 0 .25rem 0;
    font-weight: 600;
}

.col img {
    width: 90%;

}

.contact-header {
    padding: 3rem 0 .5rem 0;
}

.info-container {
    padding-bottom: 3rem;
}

.info {
    padding: .5rem;
}

.contact-info {
    padding-left: 1rem;
    font-weight: 600;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 1.75rem;
    justify-content: space-between;
}

.footer-name {
    order: -1;
}

.top-btn {
    order: 1;
}

.nav-footer-container {
    display: none;
}

hr {
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 1px;
    padding: 0 2rem;
    background-color: black;
}

@media (min-width: 769px) {

    .col-container,
    .header-container,
    .footer,
    .list {
        display: flex;
    }

    .col-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .header {
        flex-direction: row;
    }

    .pic {
        order: 1;
    }

    .col {
        flex-direction: column;
        flex-basis: 50%;
        align-items: center;
    }

    .nav-footer {
        display: block;
        justify-content: space-between;

    }

    .footer-name {
        align-self: center;
    }

    .top-btn {
        display: none;
    }

    .text {
        max-width: 550px;
        padding: 2rem;
    }

    .list {
        flex-direction: row;
        width: 45vw;
    }

    .list-item {
        background-color: whitesmoke;
        justify-content: flex-end;
    }

    .nav-footer-container {
        display: block;
    }

    .footer {
        padding-top: 0;
    }

}

@media (min-width: 1024px) {

    .row,
    .header-wrapper,
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 1024px;

    }

    .col {
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 33%;
        align-items: center;
    }

    .header-wrapper {
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
    }

}